numpy==1.19.5
tensorflow
xmltodict==0.12.0
matplotlib
requests
pyarrow
xarray==0.16.2
Cartopy
pandas==1.1.5
scikit-image==0.17.2
apache-beam==2.29.0
pyproj==3.0.1
PyYAML==5.4.1
Cython==0.29.23
pyshp
six==1.15.0
Shapely==1.7.1
seaborn
Cerberus==1.3.3
jupyterlab-system-monitor
