name: Build Docker Images PySpark

# For more details on events that trigger workflows see:
# https://docs.github.com/en/actions/reference/events-that-trigger-workflows
on:
    pull_request:
        paths-ignore:
            - '*.md'
            - 'binder/**'
            - 'docs/**'
            - 'examples/**'
    push:
        branches:
            - master # legacy main branch
            - main # new standard
        paths-ignore:
            - '*.md'
            - 'binder/**'
            - 'docs/**'
            - 'examples/**'

jobs:
    build:
        name: Build Docker Images
        runs-on: ubuntu-latest
        steps:
            - name: Clone Repository
              uses: actions/checkout@v2
            - name: Set Up Python
              uses: actions/setup-python@v2
              with:
                  python-version: 3.8
            - name: Install Dev Dependencies
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install -r requirements-test.txt
            - name: Get refs - this will be used as tags later on
              shell: bash
              run: |
                  echo "::set-output name=sha12::$(echo ${GITHUB_SHA} | cut -c1-12)"
              id: getrefs
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1
              with:
                  driver: docker # to be able to test the image locally
            - name: Build # Build only to be able to run tests
              id: docker_build
              uses: docker/build-push-action@v2
              with:
                  context: '.'
                  file: 'Dockerfile'
                  tags: |
                      jpvcosta/esa-snap-notebook:pyspark-latest
                  push: false
                  build-args: base_container=jupyter/pyspark-notebook
            - name: Run tests
              run: python -m pytest tests
            - name: Login to Docker Hub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Push
              id: docker_push
              uses: docker/build-push-action@v2
              with:
                  context: '.'
                  file: 'Dockerfile'
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: |
                      jpvcosta/esa-snap-notebook:pyspark-${{ steps.getrefs.outputs.sha12 }}, jpvcosta/esa-snap-notebook:pyspark-latest
                  build-args: base_container=jupyter/pyspark-notebook
